# Default ignored files
/../../Unique Nos./.idea/shelf/
/../../Unique Nos./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Unique Nos./.idea/httpRequests/
# Datasource local storage ignored files
/../../Unique Nos./.idea/dataSources/
/../../Unique Nos./.idea/dataSources.local.xml
